@import url(https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900);

/* Preheader */
body{
	font-family: 'Barlow';
}

a{
	text-decoration: none;
}

a:hover, a:active, a:focus, a:visited{
	text-decoration: none !important;
}

.resetCol{
	padding:0 !important;
}

.resetRow{
	margin: 0 !important;
}

.borderLeftItems{
	border-right: 1px solid black;
}

.container-itemsPreHeader{
	padding-top: 10px;
}

.preHeader-item{
	color: black !important;
	font-size: 13px;
	font-weight: 500;
	height: 25px;
	padding: 5px 25px 0 25px !important;
}

/* Header */

#header{
	margin-top: 10px;
	position: relative;
}

.header-menu{
	height: 100%;
	padding: 0 !important;
}

.header-containerItems{
	height: 100%;
}

.header-containerLogo{
	background: #f5f4fe;
	padding: 5px 0 5px 30px;
}

.header-menu{
	width: 100%;
}

.header-item{
	position: relative;
	color: black !important;
	display: block;
	text-align: center;
	width: 20%;
}

.header-textoItem{
	color: white;
	display: inline-block;
	font-size: 13px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.header-item1{
	background: #1d84c3;
}
.header-item2{
	background: #ec2d35;
}
.header-item3{
	background: #fdbf3c;
}
.header-item4{
	background: #2aace0;
}
.header-item5{
	background: #3fcf64;
}

.header-menu:before{
	background: #1d84c3;
	content: "";
	height: 79px;
	position: absolute;
	top: 0;
	left: -23px;
	transform: skew(336deg);
	width: 40px;
	z-index: 2;
}

.logoutButton{
	 position: relative;
    float: right;
    color: black !important;
    font-size: 13px;
    font-weight: bold !important;
    height: 25px;
}

/* Slider */
#sliderPrincipal{
	position: relative;
}

.slidePrev{
	background: #464645;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	height: 60px;
	padding: 15px 0 0 10px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	width: 60px;
	z-index: 2;
}

.slideNext{
	background: #464645;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	height: 60px;
	padding: 15px 10px 0 0;
	position: absolute;
	left: 0;
	text-align: center;
	top: 50%;
	width: 60px;
	z-index: 2;	
}

.containImg{
	position: relative;
}

.sliderPrincipal-containTextLeft{
	color: black;
	position: absolute;
	left: 5%;
	top: 40%;
	text-align: -webkit-center;
}

.sliderPrincipal-containTextBottom{
	color: black;
	position: absolute;
	left: 40%;
	top: 75%;
	text-align: -webkit-center;
	font-size: 15px;
}

.sliderPrincipal-textSlider{
	font-size: 17px;
    font-weight: 400;
}

.sliderPrincipal-titleSlider{
	font-size: 36px;
}

.sliderPrincipal-button{
	border-radius: 40px;
	display: inline-block;
	color: white;
	padding: 15px 40px;
}

.sliderPrincipal-button:hover, .sliderPrincipal-button:active, .sliderPrincipal-button:focus, .sliderPrincipal-button:visited{
	color: white;
}


/*slider Oportuya*/

.oportuyaSliderContent{

	position: absolute;
	bottom: 10em;
	left:3em;
}

.oportuyaSliderTitle p {
	font-size: 2.5em;
	font-weight: 500;
}

.oportuyaSliderContent p{
	text-align: center;
	line-height: 100%;
}

.textTitleSliderPink{
	color:#e72665;
	font-weight: 700 !important;
}

.textTitleSliderBlue{
	color: #0a50ae;
	font-weight: 700 !important;
}

.oportuyaSliderTitle p:first-child {
	margin-bottom: 0;
}

.oportuyaSliderDescription p {
	font-size: 1.2em;
	font-weight: 500;
}

.oportuyaSliderButton p a{
	background-color: #F1C53B;
    color: #FFF;
    padding: 12px 50px;
    border-radius: 50px;
    font-size: 1.2em;
    box-shadow: 2px 1px 12px 3px rgba(249,224,232,1);
}

.containImg img {
	margin: auto;
}


/*Credit cards section*/

.contentCreditcards{
	text-align: center;
}

.contentCreditcards img{
	margin-top: 40px;
}

.contentCards{
	position: absolute;
    transform: translate(-50%,-50px);
    left: 50%;
    background-color: #FFF;
    width: 80%;
    box-shadow: 2px 1px 12px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: auto;
}

.contentCards p {
	text-align: center;
}

.titleContentCard{
	font-weight: 700;
	font-size: 1.4em;
	margin-top: 15px;
}

.descriptionContentCard{
	font-size: 0.7em;
	color:#A0A0A0;
}

.buttonCard{
	margin: 25px 0;
}

.buttonCreditCard{
	background-color: #e72665;
    color: #FFF;
    padding: 6px 25px;
    border-radius: 20px;
    font-weight:500;
    font-size: 1.1em;
}

.beforeLine{
	position: relative;
}

.beforeLine::after{
	position: absolute;
    content: " ";
    height: 80%;
    width: 2px;
    background-color: #D8D8D8;
    transform: translate(-50%,-110%);
    left: 100%;
}

.checkIcon{
	position: absolute;
}

/*requirements section*/

#requirements{
	margin-top: 3em;
	margin-bottom: 6em;
}

.requirementsContent{
	width: 80%;
	margin: auto;
}

.contentRequirements{
	text-align: center;
}

.titleRequirements{
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 20px;	
	position: relative;
}

.titleRequirements::after{
	content: " ";
	height: 10px;
	width: 2em;
	border-radius: 20px;
	position: absolute;
	background-color:#FFBA00;
	transform: translate(-50%,2em);
    left: 50%;
}

.descriptionRequirements{
	width: 25em;
	margin: 3em auto;
}

.buttonRequirements{

	background-color: #FFD13F;
    color: #000;
    font-weight: 700;
    padding: 0.5em 2.5em;
    border-radius: 1.5em;
}

.requirementsContent::after{
	content: " ";
	height: 27em;
	width: 2px;
	left: 50%;
	position: absolute;
	background-color:#D8D8D8;
	transform: translate(-50%,2em);
}

/*Oportuya Content*/

#oportuyaSection{
	margin-bottom: 4em;
}

.oportuyaContent{
	width: 80%;
	margin: auto;

}

.oportuyaCardsContent{
	width: 100%;
}

.oportuyaContentHeader{
	background-color: #E3EEF2;
	border-radius: 10px 10px 0 0;
}

.oportuyaHeaderImage{
	padding: 0;
}

.textOportuyaHeader {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.textOportuyaHeader>span{
	font-size: 0.8em;
}

.buttonOportuyaSection{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-6em);
}

.buttonOportuyaSection a{

    background-color: #EA2163;
    color: #FFF;
    font-size: 1.2em;
    padding: 0.5em 3.5em;
    border-radius: 25px;
    font-weight: 500;
}

.contentFeatures{
	padding-left: 4em;
}

.oportuyaContentFeatures{
	background-color: #F4F5F4;
	border-radius: 0 0 10px 10px;
}


.oportuyaContentImage img{
	position: absolute;
	bottom: 0;
	right: -3em;
}

.efectiveText{
	font-size: 1.6em;
	text-align: center;
}

.efectiveText span {
	font-size: 1.2em;
	color: #005DAF;
}



.featuresfirstText{
	margin-top: 2em;
	font-size: 1.2em;
	font-weight: 700;
	margin-left: 1em;
}

.featuresfirstText + p{
	font-weight: 800;
	font-size: 1.2em;
	margin-left: 2em;
	margin-bottom: 0.4em;
}

.contentListFeatures div ul li{
	margin-bottom: 1em;
	height: 2em;
	font-weight:500;
}

.soatImageContainer{
	margin: 2em 0 1.5em 0;
}

.soatImageContainer div{
	padding-left: 4em;
}

.contentListFeaturesResponsive{
	display: none;
}

.responsiveButtonOportuya{
	display: none;
}

.oportuyaTextResponsive{
	display: none;
}

/*offers section*/

#offers{
	background-color: #E3EEF3;
	padding-bottom: 5em;
}

.offersTitle{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 2em 0;
}

.offersTitle p{
	font-size: 2.5em;
    font-weight: 700;
    color: #2D8CCA;
}

.offersTitle p::after{
	
	content: " ";
	width: 10em;
	height: 8px;
	background-color: #2D8CCA;
	position: absolute;
	bottom: 0;
	right: 50%;
    transform: translate(50%);
    border-radius: 21px; 
}

.offersDescription{
	margin-top: 10em;
	width: 100%;
	margin: auto;
}

.offersContent{
	text-align: center;
}

.offersPrice1{
	position: absolute;
	top: 0;
    right: 0;
    transform: translate(-3em,1.5em);
    color: #FFE002;
}

.offersPrice1 span{
	position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%,0);
    font-size: 2em;
    font-weight: 700;
}

.offersPrice2{
	position: absolute;
	top: 0;
    right: 0;
    transform: translate(-9em,1.5em);
    color: #FFE002;
}

.offersPrice2 span{
	position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%,0);
    font-size: 2em;
    font-weight: 700;
}

.offersDescription::before{
	content: " ";
	width: 2px;
	height: 25em;
	background-color:#D8D8D8;
	position: absolute;
	right: 50%;
    transform: translate(50%);
     
}

.buttonOffers a{
	position: absolute;
    transform: translate(-50%);
    left: 50%;
    padding: 0.4em 2em;
    background-color: #005CAF;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 20px;
}

.imgOffer{
	min-height: 280px;

}

.offers div.row{
	width: 100%;
}

/* Conoce */

#conoce{
	padding: 40px 0;
}

.conoce-title{
	color: #348dc7;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 60px;
	position: relative;
	text-align: center;
}

.conoce-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 45%;
	position: absolute;
	width: 10%;
}

.conoce-TarjetaOportuya{
	background: #1d84c3; 
}

.conoce-creditoMotos{
	background: #ec2d35;
}

.conoce-creditoLibranza{
	background: #fdbf3c;
}

.conoce-seguros{
	background: #2aace0;
}

.conoce-viajes{
	background: #3fcf64;
}

.conoce-titleTarjeta{
	color: white;
	font-size: 22px;
	font-weight: 300;
	margin: 10px 0 20px 0;
}

.conoce-tarjetasTexto{
    color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    margin-top: 20px;
}

.conoce-titleTarjetaMotos{
	color: white;
	font-size: 22px;
	font-weight: 300;
	margin: 10px 0 54px 0;
}

.conoce-titleTarjetaSeguros{
	color: white;
	font-size: 22px;
	font-weight: 300;
	margin: 10px 0 80px 0;
}

.conoce-titleTarjeta > strong, .conoce-titleTarjetaMotos > strong, .conoce-titleTarjetaSeguros > strong{
	font-size: 25px;
	font-weight: 500;
}

.conoce-TarjetaOportuya, .conoce-creditoMotos, .conoce-creditoLibranza, .conoce-seguros, .conoce-viajes{
	height: 100%;
	padding: 0 5px;
	position: absolute;
	width: 35%;
}

.conoce-containButton{
	position: absolute;
	right: 15%;
	top: 85%;
}

.conoce-button{
	border-radius: 20px;
	color: white;
	font-size: 13px;
	padding: 5px 25px;
}

.conoce-button:hover, .conoce-button:active, .conoce-button:visited, .conoce-button:focus{
	color: white;
}

.button-oportuya{
	background: #1d84c3;
}

.button-creditoMotos{
	background: #ec2d35;
}

.button-creditoLibranza{
	background: #fdbf3c;
}

.button-seguros{
	background: #2aace0;
}

.button-viajes{
	background: #3fcf64;
}

/* Video */

#video{
	background: url("../images/video-fondo.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	padding: 50px 0 150px 0;
	position: relative;
}

.video-title{
	color: #3c9cd8;
	margin-bottom: 120px;
	text-align: center;
	text-shadow: -1px 0px 15px rgba(60, 156, 216, 0.6);
	position: relative;
}

.video-title:after {
    background: #3c9cd8;
    border-radius: 70px;
    bottom: -14px;
    content: "";
    height: 4px;
    left: 42%;
    position: absolute;
    width: 17%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.video-botonPlay{
	cursor: pointer;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	width: 96px;
}

.video-containText{
	padding-left: 80px;
}

.video-img{
	margin-right: 10px;
	width: 40px;
}

.video-text{
	color: #3c9cd8;
	text-shadow: -1px 0px 15px rgba(60, 156, 216, 0.6);
}

/* Convenios */

#convenios{
	padding: 40px 0;
}

.containerConvenios{
	max-width: 1200px;
	margin: auto;
}

.convenios-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 40px;
	position: relative;
}

.convenios-title:after {
    background: #348dc7;
    border-radius: 70px;
    bottom: -6px;
    content: "";
    height: 4px;
    left: 42%;
    position: absolute;
    width: 17%;
    -webkit-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    -moz-box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
    box-shadow: 0px 2px 26px -1px rgba(60,156,216,1);
}

.convenios-title > strong{
}

.convenios-text{
	margin-bottom: 40px;
	padding: 0 110px;
}

.convenios-titleInfo{
	color: #1d84c3;
	font-size: 20px;
	font-weight: bold;
}

.convenios-textInfo{
	line-height: 17px;
	margin: 10px 0 25px;
	padding: 0 50px;
}

.convenios-button{
	color: #1d84c3;
	border: 1px solid #1d84c3;
	border-radius: 35px;
	font-size: 18px;
	padding: 7px 45px;
	transition: all .3s ease-in-out;
}

.convenios-button:hover{
	background: #1d84c3;
	color: white;
}

/* Footer */

#footer{
	background: #1d84c3;
	padding: 20px 0 100px;
}

.footer-contianerLogo{
	text-align: center;
}

.footer-title{
	color: white;
	font-size: 25px;
	font-weight: normal;
	position: relative;
}

.footer-title:after{
    background: #fff;
    border-radius: 70px;
    bottom: -14px;
    content: "";
    height: 4px;
    left: 39%;
    position: absolute;
    width: 21%;
}

.footer-contianerTelefonos{
    margin-bottom: 35px;
	margin-left: 20%;
    margin-top: 40px;
    position: relative;
}

.footer-contianerNosotros{
	margin-left: 20%;
}

.footer-textTelefonos{
	color: #fff;
	line-height: 20px;
	padding-left: 45px;
}

.footer-textTelefonosNal{
	font-weight: 500;
}

.footer-imgNosotros{
	position: absolute;
	top: 5px;
}

.footer-containerServicioCliente{
	border-left: 1px solid #77b5db;
	border-right: 1px solid #77b5db;
}

.footer-menu{
	color: #fff;
	margin-left: 25%;
	padding: 135px 0;
}

.footer-menuNosotros{
	color: #fff;
}

.footer-menuItem{
	color: #fff;
	font-weight: 200;
}

.footer-menuTitle{
	font-weight: 600;
	font-size: 15px;
}

.footer-menuItem:hover, .footer-menuItem:active, .footer-menuItem:visited, .footer-menuItem:focus{
	color: #fff; 
}

.footer-menu > li, .footer-menuNosotros > li{
	font-size: 13px;
}

.footer-containerNewsletter{
    top: 40%;
	padding: 0 10%;
	position: absolute;
    width: 100%;
}

.footer-titleNewsLetter{
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.footer-menuText{
	color: #fff;
	font-weight: 600;
}

/*Administrador de páginas*/

.containerPages{
	padding: 30px;
}



/* Media Queries */

@media(max-width: 1700px){
	.conoce-TarjetaOportuya, .conoce-creditoMotos, .conoce-creditoLibranza, .conoce-seguros, .conoce-viajes{
		width: 45%;
	}

	.conoce-titleTarjeta{
		font-size: 18px;
		line-height: 20px;
		margin: 10px 0;
	}
	.conoce-tarjetasTexto{
		font-size: 10px;
		margin-top: 10px;
	}
	.conoce-titleTarjetaMotos{
		margin: 10px 0 20px 0;
	}
	.conoce-titleTarjetaSeguros{
		margin: 10px 0 45px 0;
	}
	.conoce-titleTarjeta > strong, .conoce-titleTarjetaMotos > strong, .conoce-titleTarjetaSeguros > strong{
		font-size: 20px;
	}
	.conoce-tarjetasImg{
		width: 32px;
	}
	.conoce-containButton{
		right: 8%;
	}
	.conoce-button{
		font-size: 10px;
	}

	.oportuyaContentHeader{
		height: 6em;
	}

	.oportuyaHeaderImage img{
		height: 100%;
	}
}


@media(max-width: 1500px){
	.sliderPrincipal-containTextBottom{
		top: 60%;
	}

	.oportuyaSliderContent{
		bottom: 7em;
	}

	.soatImageContainer div img{
		width: 50%;
	}
}

@media(max-width: 1366px){
	.conoce-containButton {
	    right: 8%;
	}

	.conoce-button{
		padding: 5px 10px;
	}

	.descriptionContentCard{
		height: 3em;
	}

	.efectiveText{
		font-size: 1.2em;
	}

}

@media(max-width: 1300px){
	.conoce-TarjetaOportuya, .conoce-creditoMotos, .conoce-creditoLibranza, .conoce-seguros, .conoce-viajes{
		width: 50%;
	}

	.conoce-titleTarjeta {
	    font-size: 15px;
	    line-height: 20px;
	    margin: 10px 0;
	}

	.conoce-titleTarjetaMotos{
		font-size: 17px;
		margin: 10px 0 30px 0;
	}

	.conoce-tarjetasImg{
		width: 24px;
	}


	.oportuyaSliderTitle p{
		font-size: 2em;
	}

	.oportuyaSliderDescription p,.oportuyaSliderButton p a{
		font-size: 1em;
	}


}

@media(max-width: 1200px){
	.tarjetaLAst{
		margin: auto;
	}
	.conoce-containTarjeta{
		margin-bottom: 20px;
	}
	.conoce-TarjetaOportuya, .conoce-creditoMotos, .conoce-creditoLibranza, .conoce-seguros, .conoce-viajes{
		width: 35%;
	}
	.conoce-tarjetasImg{
		width: 48px;
	}
	.conoce-titleTarjeta > strong, .conoce-titleTarjetaMotos > strong, .conoce-titleTarjetaSeguros > strong{
		font-size: 25px;
	}
	.conoce-titleTarjeta {
	    font-size: 25px;
	    line-height: 24px;
	    margin: 15px 0 50px 0;
	}
	.conoce-tarjetasTexto {
		font-size: 13px;
    	margin-top: 40px;
	}
	.conoce-titleTarjetaMotos {
	    font-size: 25px;
	    margin: 10px 0 70px 0;
	}
	.conoce-titleTarjetaSeguros {
	    margin: 10px 0 105px 0;
	}
	.conoce-containButton {
	    right: 14%;
	}
	.conoce-button {
	    padding: 7px 30px;
	    font-size: 15px;
	}

	.oportuyaSliderContent{
		bottom: 5em;
	}

	.oportuyaSliderContent p{
		margin-bottom: 0;
	}

	.titleContentCard{
		font-size: 1.2em;
	}

	.descriptionRequirements{
		width: 90%;
		margin: 3em auto;
	}
}

@media(max-width: 991px){
	.conoce-titleTarjeta{
		font-size: 35px;
		line-height: 35px;
		margin: 20px 0 50px;
	}
	.conoce-titleTarjetaMotos{
		font-size: 25px;
		padding: 0 40px;
		margin: 25px 0 30px 0;
	}
	.conoce-titleTarjetaSeguros{
		margin: 20px 0 45px 0;
	}
	.conoce-tarjetasTexto{
		font-size: 15px;
		line-height: 17px;
		margin-top: 70px;
	}
	
	#video{
		text-align: center;
	}

	.video-botonPlay{
		position: inherit;
		transform: none;
		top: 0;
		left: 0;
	}
	.footer-containerNewsletter{
		position: initial;
	}
	.footer-menu{
		padding: 45px 0;
	}
	.footer-containerServicioCliente{
		border: none;
	}
	.contentListFeatures{
		display: none;
	}
	.contentListFeaturesResponsive{
		display: block;
	}

	.buttonOportuyaSection{
		position: relative;
   		float: right;
    	margin-top: -69px;
   	 	margin-right: 2px;
   	 	left: 0;
    	transform: translate(0,0);
	}

	.oportuyaContentImage img{
		margin-top: 14em;
		position: relative;
		right: 0;
	}

	.soatImageContainer div img{
		width: 100%;
	}

	.textOportuyaHeader{
		width: 100%;
		position: absolute;
    	left: unset;
    	right: 10%;
    	transform: translate(0);
    	text-align: center;
	}

}


@media(max-width: 991px){
	.sliderPrincipal-containTextBottom {
	    left: 33%;
	}
	.tarjetaLAst{
		margin-left: 25%;
	}
	.conoce-TarjetaOportuya, .conoce-creditoMotos, .conoce-creditoLibranza, .conoce-seguros, .conoce-viajes{
		width: 35%;
	}
	.footer-containMenu{
		margin-bottom: 50px;
	}
	.conoce-containButton {
	    right: 30%;
	}
	.footer-contianerTelefonos{
		margin-left: 10%;
	}

	.conoce-titleTarjeta {
	    font-size: 25px;
	    line-height: 35px;
	    margin: 10px 0 30px;
	}

	.conoce-tarjetasTexto{
		margin-top: 20px;
		font-size: 13px;
	}
	.conoce-titleTarjetaMotos{
		padding: 0;
	}

	.convenios-containInfo{
		margin-bottom: 60px;
	}

	.contentCards{
		position: relative;
		transform: translate(0,-0);
		left: 0;
	}

	.beforeLine::after{
		display: none;
	}

	.contentCards{
		height: 80em;
	}

	#oportuyaCards{
		margin-top: 2em;
	}

	.oportuyaTextResponsive{
		display: block;
	}

	.oportuyaText{
		display: none;
	}

	.offersDescription::before{
		display: none;
	}

	.offersDescription>div+div{
		margin-top: 8em;
	}

	.offersPrice1{
		transform: translate(-9em,1.5em);
	}

	.offersPrice2{
		transform: translate(-16em,1.5em);
	}
}


@media(max-width: 768px){
	.sliderPrincipal-button {
	    padding: 9px 35px;
	    font-size: 13px;
	}
	.sliderPrincipal-textSlider{
		font-size: 14px;
	}
	.sliderPrincipal-containTextBottom{
		top: 45%;
	}
	.sliderPrincipal-containTextLeft{
		left: 10%;
		top: 30%;
	}
	.conoce-containButton {
    	right: 20%;
	}

	.requirementsContent::after{
		display: none;
	}

	.oportuyaContentImage{
		display: none;
	}

	.soatImageContainer{
		display: none;
	}

	.responsiveButtonOportuya{
		display: block;
	}

	.buttonOportuya{
		display: none;
	}

	.buttonOportuyaSection{
		    position: relative;
     float: unset;
    text-align: center;
    margin: 0px 0 2em 0 !important;
    /* margin-right: 2px; */
    left: 0;
    transform: translate(0,0);
	}

	.offersPrice1{
		transform: translate(-3em,1.5em);
	}

	.offersPrice2{
		transform: translate(-8em,1.5em);
	}

	.textOportuyaHeader{
		width: 100%;
	}

	.oportuyaContentHeader{
		height: auto;
	}

	.oportuyaHeaderImage img{
		height: auto;
	}

	.salePoint{
		display: none;
	}

	.efectiveText{
		font-size: 1em;
	}
}

@media(max-width: 576px){
	.tarjetaLAst{
		margin-left: 0;
	}

	.offersPrice1{
		transform: translate(0em,1.5em);
	}

	.offersPrice2{
		transform: translate(-1em,1.5em);
	}
}

@media(max-width: 500px){
	.convenios-text{
		padding: 0 20px;
	}

	.sliderPrincipal-containTextLeft{
		position: initial;
	}

	.sliderPrincipal-containTextBottom{
		position: initial;
	}

	.conoce-containButton {
	    right: 15%;
	}
	.footer-contianerNosotros {
	    margin-left: 10%;
	}
	.footer-menu{
		margin-left: 20%;
	}
}