/* Slider */
.sliderPrincipalLibranza-text{
	font-size: 25px;
	color: #fff;
	font-weight: 300;
}

.sliderPrincipalLibranza-text > strong{
	font-weight: 700;
}

.sliderPrincipalLibranza-button{
	background: #1a59a0;
	border-radius: 20px;
	color: #fff !important;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 40px;
}

/* Credito Libranza */
.creditoLibranza-title, .credibilidad-title{
	color: #348dc7;
	font-size: 20px;
	font-weight: 300;
	margin: 60px 0;
	position: relative;
}

.creditoLibranza-title > strong, .credibilidad-title > strong{
	font-weight: 700;
}

.creditoLibranza-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}

.creditoLibranza-contianerTexto{
	padding: 30px 0 0 100px;
}

.creditoLibranza-img{
	left: 0;
	position: absolute;
	top: 0;
}

.creditoLibranza-titleText{
	color: #348dc7;
	font-size: 18px;
}

.creditoLibranza-text{
    font-size: 15px;
    line-height: 20px;
	padding: 0 40px 0 0;
    text-align: justify;
}

/* Fomulario */
#formularioSimulador{
	background: #f5f5f5;
	padding: 10px 0 40px 0;
}

.containerFormulario{
	margin: auto;
	max-width: 865px;
}

.formularioSimulador-title{
	color: #348dc7;
	font-size: 25px;
	font-weight: 300;
	position: relative;
}

.formularioSimulador-title > strong{
	font-weight: 700;
}

.formularioSimulador-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 39%;
	position: absolute;
	width: 22%;
}

.formularioSimulador-textPrincipal{
	margin: 30px 0 20px 0;
    line-height: 20px;
    font-size: 17px;
}

.formularioSimulador-labelFormulario{
	font-size: 14px;
	font-weight: 700;
}

.formularioSimulador-buttonForm{
	background: #1a59a0;
	border-radius: 30px;
	color: #fff;
	font-size: 20px;
	padding: 5px 60px;
}

.formularioSimulador-textInferior{
	font-size: 14px;
}

/* Credibilidad */

.credibilidad-text{
	color: #348dc7;
	font-weight: bold;
}

.credibilidad-title:before{
	background: #348dc7;
	border-radius: 70px;
	bottom: -14px;
	content: "";
	height: 4px;
	left: 42%;
	position: absolute;
	width: 15%;
}